<html>
  <head>
    <title>Home</title>
  </head>
  <body>
    <h1>Welcome SUPER PADRONE </h1>
    <p>Here is {{name}}<p>

      


    <p><a href="logout">logout</a></p>

    <p>{{message}}</p>
  </body>
</html>